<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="memberMapper">
	<!-- MEMBER table -->
	<resultMap type="com.kh.myjob.member.vo.MemberVO" id="member">
		<id 	column="MEMBER_CODE" 				property="memberCode"/>
		<result column="MEMBER_ID" 					property="memberId"/>
		<result column="MEMBER_NAME" 				property="memberName"/>
		<result column="MEMBER_PW" 					property="memberPw"/>
		<result column="MEMBER_TEL" 				property="memberTel"/>
		<result column="MEMBER_ADDR" 				property="memberAddr"/>
		<result column="MEMBER_EMAIL" 				property="memberEmail"/>
		<result column="MEMBER_IS_ADMIN" 			property="memberIsAdmin"/>
		<result column="MEMBER_GENDER" 				property="memberGender"/>
		<result column="MEMBER_JOIN_DATE" 			property="memberJoinDate"/>
	</resultMap>
		
		<!-- MEMBER_ID 중복확인 -->
		<select id="isJoined" resultType="String">
			SELECT MEMBER_ID
			FROM MEMBER
			WHERE MEMBER_ID = #{memberId}
		</select>
		
		<!-- 이메일체크 -->
		<select id="emailCheck" resultType="String">
			SELECT MEMBER_EMAIL
			FROM MEMBER
			WHERE MEMBER_EMAIL = #{memberEmail}
		</select>
		
		<!-- 회원가입 -->
		<insert id="join">
			INSERT INTO MEMBER (
			MEMBER_CODE
			  , MEMBER_ID
			  , MEMBER_NAME
			  , MEMBER_PW
			  , MEMBER_TEL
			  , MEMBER_ADDR
			  , MEMBER_EMAIL
			  , MEMBER_GENDER
			) VALUES (
			  (SELECT 'MEMBER_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MEMBER_CODE, 8, 3))), 0) + 1, 3, '0') FROM MEMBER)
			  , #{memberId}
			  , #{memberName}
			  , #{memberPw}
			  , #{memberTel}
			  , #{memberAddr}
			  , #{memberEmail}
			  , #{memberGender}
			)
		</insert>
		
		<!-- 로그인체크 -->
		<select id="loginCheck" resultType="String">
			SELECT MEMBER_CODE
			FROM MEMBER
			WHERE MEMBER_ID = #{memberId}
			AND MEMBER_PW = #{memberPw}
		</select>
		
		<!-- 로그인 -->
		<select id="login" resultMap="member">
			SELECT MEMBER_CODE
			  , MEMBER_ID
			  , MEMBER_NAME
			  , MEMBER_IS_ADMIN
			FROM MEMBER
			WHERE MEMBER_ID = #{memberId}
			AND MEMBER_PW = #{memberPw}
		</select>
		
		<!-- 맴버리스트 전체조회 -->
		<select id="selectMemberList" resultMap="member">
			SELECT MEMBER_CODE
	       		  , MEMBER_ID
	       		  , MEMBER_NAME
				  , MEMBER_JOIN_DATE
	        	  , ROW_NUM
	     		FROM
	     		(
	     			SELECT MEMBER_CODE
	       			  , MEMBER_ID
	       			  , MEMBER_NAME
	        		  , MEMBER_JOIN_DATE
	        		  , ROWNUM AS ROW_NUM
	     			FROM
	     			(
	      				SELECT MEMBER_CODE
	        			  , MEMBER_ID
	        			  , MEMBER_NAME
	         			  , TO_CHAR(MEMBER_JOIN_DATE, 'YYYY.MM.DD') AS MEMBER_JOIN_DATE
		      			FROM MEMBER
						WHERE MEMBER_IS_ADMIN = 'N'
		      			<if test="searchValue != null and !searchValue.equals('')">
		      			AND ${searchKeyword} LIKE '%'||#{searchValue}||'%'
		      			</if>
		      			ORDER BY MEMBER_CODE DESC
	     			)
	     		)
				WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
		</select>
		
		<!-- 맴버 상세조회 -->
		<select id="selectDetailMember" resultMap="member">
			SELECT MEMBER_CODE
			  , MEMBER_ID
			  , MEMBER_NAME
			  , MEMBER_PW
			  , MEMBER_TEL
			  , MEMBER_ADDR
			  , MEMBER_EMAIL
			  , MEMBER_IS_ADMIN
			  , MEMBER_GENDER
			  , TO_CHAR(MEMBER_JOIN_DATE, 'YYYY.MM.DD') AS MEMBER_JOIN_DATE
			FROM MEMBER
			WHERE MEMBER_CODE = #{memberCode}
		</select>
		
		<!-- 회원 정보 수정 -->
		<update id="updateMyInfo">
			UPDATE MEMBER
			SET
			MEMBER_PW = #{memberPw}
			, MEMBER_EMAIL = #{memberEmail}
			, MEMBER_TEL = #{memberTel}
			, MEMBER_ADDR = #{memberAddr}
			WHERE MEMBER_CODE = #{memberCode}
		</update>

		<!-- 관리자 회원 관리에서 회원삭제, 일반회원 마이페이지에서 회원탈퇴 -->
		<delete id="deleteMember">
			DELETE MEMBER
			WHERE MEMBER_CODE = #{memberCode}
		</delete>
		
		<!-- 관리자 회원 관리 전체 데이터 개수 조회 -->
		<select id="selectMemberCnt" resultType="int">
			SELECT COUNT(MEMBER_IS_ADMIN)
			FROM MEMBER
			WHERE MEMBER_IS_ADMIN = 'N'
			<if test="searchValue != null and !searchValue.equals('')">
	      	AND ${searchKeyword} LIKE '%'||#{searchValue}||'%'
	      	</if>
		</select>
		

</mapper>












