<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="reviewMapper">
	<!-- REVIEW_BOARD Table -->
	<resultMap type="com.kh.myjob.review.vo.ReviewVO" id="reviewBoard">
		<id column="REVIEW_BOARD_CODE"  				property="reviewBoardCode"/>
		<result column="REVIEW_BOARD_TITLE" 			property="reviewBoardTitle"/>
		<result column="REVIEW_BOARD_CONTENT" 			property="reviewBoardContent"/>
		<result column="REVIEW_BOARD_WRITER"	 		property="reviewBoardWriter"/>
		<result column="REVIEW_BOARD_READ_CNT" 		    property="reviewBoardReadCnt"/>
		<result column="REVIEW_BOARD_RECOMMEND_CNT" 	property="reviewBoardRecommendCnt"/>
		<collection property="reviewImgList" 			resultMap="reviewImg"></collection>
	</resultMap>
	<!-- REVIEW_IMG Table -->
	<resultMap type="com.kh.myjob.review.vo.ReviewImgVO" id="reviewImg">
		<id column="REVIEW_IMG_CODE"  				    property="reviewImgCode"/>
		<result column="REVIEW_IMG_ORIGIN_NAME" 	    property="reviewImgOriginName"/>
		<result column="REVIEW_IMG_ATTACHED_NAME" 	    property="reviewImgAttachedName"/>
		<result column="REVIEW_BOARD_CODE"	 		    property="reviewBoardCode"/>
		<result column="IS_MAIN" 					    property="isMain"/>
	</resultMap>
	<!-- REVIEW_BOARD_REPLY Table -->
	<resultMap type="com.kh.myjob.review.vo.ReviewReplyVO" id="reviewReply">
		<id column="REVIEW_REPLY_CODE"  				property="reviewReplyCode"/>
		<result column="REVIEW_REPLY_WRITER" 			property="reviewReplyWriter"/>
		<result column="REVIEW_REPLY_REG_DATE" 			property="reviewReplyRegDate"/>
		<result column="REVIEW_REPLY_CONTENT"	 		property="reviewReplyContent"/>
	    <result column="REVIEW_BOARD_CODE" 			    property="reviewBoardCode"/>
	</resultMap>
	
	
	
	<!--후기등록  -->
	<insert id="insertReview">
		INSERT INTO REVIEW_BOARD(
			REVIEW_BOARD_CODE
			, REVIEW_BOARD_TITLE
			, REVIEW_BOARD_CONTENT
			, REVIEW_BOARD_WRITER
		) VALUES(
			(SELECT 'REVIEW_BOARD_'|| LPAD((NVL(MAX(TO_NUMBER(SUBSTR(REVIEW_BOARD_CODE,14,3))), 0) + 1), 3 ,'0') FROM REVIEW_BOARD)
			, #{reviewBoardTitle}
			, #{reviewBoardContent}
			, #{reviewBoardWriter}
		)
	</insert>
	<!--후기 리스트 조회  -->
	<select id="selectReviewList" resultMap="reviewBoard">
		SELECT REVIEW_BOARD_CODE
			, REVIEW_BOARD_TITLE
			, REVIEW_BOARD_CONTENT
			, REVIEW_BOARD_WRITER
			, REVIEW_BOARD_RECOMMEND_CNT
			, REVIEW_BOARD_READ_CNT
		FROM REVIEW_BOARD
		ORDER BY REVIEW_BOARD_RECOMMEND_CNT DESC	 	
	</select>
	<!--후기 게시판 상세보기  -->
	<select id="selectReviewDetail" resultMap="reviewBoard">
		SELECT REVIEW_BOARD_CODE
			, REVIEW_BOARD_TITLE
			, REVIEW_BOARD_CONTENT
			, REVIEW_BOARD_WRITER
			, REVIEW_BOARD_RECOMMEND_CNT
			, REVIEW_BOARD_READ_CNT
		FROM REVIEW_BOARD
		WHERE REVIEW_BOARD_CODE = #{reviewBoardCode}
	</select>
	
	<!--후기게시글 추천수 증가  -->
	<update id="updateReadCnt">
		UPDATE REVIEW_BOARD
		SET REVIEW_BOARD_READ_CNT = REVIEW_BOARD_READ_CNT + 1
	    WHERE REVIEW_BOARD_CODE = #{reviewBoardCode}
	</update>
	<!--후기게시판 댓글등록  -->
	<insert id="regReply">
		INSERT INTO REVIEW_REPLY(
			REVIEW_REPLY_CODE
			, REVIEW_REPLY_WRITER
			, REVIEW_REPLY_CONTENT
			, REVIEW_BOARD_CODE
		) VALUES(
			(SELECT 'REVIEW_REPLY_'|| LPAD((NVL(MAX(TO_NUMBER(SUBSTR(REVIEW_REPLY_CODE,14,3))), 0) + 1), 3 ,'0') FROM REVIEW_REPLY)
			, #{reviewReplyWriter}
			, #{reviewReplyContent}
			, #{reviewBoardCode}
		)
	</insert>
	<!--후기게시판에 댓글목록 조회  -->
	<select id="selectReviewReplyList" resultMap="reviewReply">
		SELECT REVIEW_REPLY_CODE
			, REVIEW_REPLY_WRITER 
			, REVIEW_REPLY_REG_DATE
			, REVIEW_REPLY_CONTENT
			, REVIEW_BOARD_CODE
		FROM REVIEW_REPLY
		WHERE REVIEW_BOARD_CODE = #{reviewBoardCode} 
		ORDER BY REVIEW_REPLY_CODE DESC	
	</select>
	
	<!--후기게시판에 댓글삭제  -->
	<delete id="deleteReiviewReply">
		DELETE FROM REVIEW_REPLY
		WHERE REVIEW_REPLY_CODE = #{reviewReplyCode}
	</delete>
	
	
</mapper>












